<%= form_for(@url) do |f| %>
  <% if @url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :original %><br>
      <%= f.url_field :original, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :custom, 'Custom Url' %><br>
      <%= f.text_field :custom, class: "form-control" %>
    </div>

    <%= f.submit class: "btn btn-primary btn-lg" %>

<% end %>
