<p id="notice"><%= notice %></p>

<p>
  <strong>Original:</strong>
  <%= @url.original %>
</p>

<p>
  <strong>Shorten to:</strong>
  <%= short_link_url(@url.link.identifier).to_s %>
  <%= link_to( 'Tiny Url', short_link_url(@url.link.identifier)) %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
